{% extends 'admin/layout/admin-base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ 'account.index_title'|trans }}
{% endblock %}

{% block body %}

    <div class="container-lg">
        <h1>{{ 'account.index_header'|trans }}</h1>
        <table class="table">
            <tbody>
            <tr>
                <th>{{ 'user.id'|trans }}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{ 'user.email'|trans }}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{{ 'user.roles'|trans }}</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'user.firstname'|trans }}</th>
                <td>{{ user.firstName ? user.firstName : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'user.lastname'|trans }}</th>
                <td>{{ user.lastName ? user.lastName : '' }}</td>
            </tr>
            </tbody>
        </table>

        {{ include('account_me/_form-modal.html.twig', {'button_label': 'user.action.change-password'|trans }) }}
    </div>
{% endblock %}
